<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Welcome</display-name>
  <welcome-file-list>
    <welcome-file>questionnaire.html</welcome-file>
  </welcome-file-list>
  <servlet>
  	<servlet-name>DeleteServlet</servlet-name>
  	<servlet-class>Servlet.DeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>DeleteServlet</servlet-name>
  	<url-pattern>/DeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>FoundWenjuanServlet</servlet-name>
  	<servlet-class>Servlet.FoundWenjuanServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>FoundWenjuanServlet</servlet-name>
  	<url-pattern>/FoundWenjuanServlet</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>getQuestionnaire</servlet-name>
  	<servlet-class>Servlet.getQuestionnaireServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>getQuestionnaire</servlet-name>
  	<url-pattern>/getQuestionnaire</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>GetListServlet</servlet-name>
  	<servlet-class>Servlet.GetListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>GetListServlet</servlet-name>
  	<url-pattern>/getlist</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>GetqListServlet</servlet-name>
  	<servlet-class>Servlet.GetqListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>GetqListServlet</servlet-name>
  	<url-pattern>/GetqListServlet</url-pattern>
  </servlet-mapping>	
  <servlet>
  	<servlet-name>LoginServlet</servlet-name>
  	<servlet-class>Servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>LoginServlet</servlet-name>
  	<url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>PostAnswerServlet</servlet-name>
  	<servlet-class>Servlet.PostAnswerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>PostAnswerServlet</servlet-name>
  	<url-pattern>/PostAnswerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>RegisterServlet</servlet-name>
  	<servlet-class>Servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>RegisterServlet</servlet-name>
  	<url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
</web-app>